<h1>Your Current Order</h1>
<%= render 'layouts/order_table', orders: @order %>
 <table class="table table-striped table-hover table-condensed table-bordered items-table">
    <thead>
      <tr>
        <th><strong>Code</strong></th>
        <th>Description</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Size</th>
        <th>Price</th>
        <th><strong>Total</strong></th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
  <% @orderitems.each do |oi| %>
      <tr>
        <td><strong><%= oi.item.code %></strong></td>
        <td><%= oi.item.description %></td>
        <td><%= oi.item.category.name %></td>
        <td><%= oi.item.brand.name %></td>
        <td><%= oi.item.size %></td>
        <td><%= number_to_currency(oi.item.price, unit: '£') %></td>
        <td><strong><%= number_to_currency(item_plus_vat(oi.item), unit: '£') %></strong></td>
        <td><%= render 'delete_button', orderitem: oi %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h3 class="text-right text-info">Total Price: <%= number_to_currency(total_price(@orderitems), unit: '£') %></h3>