 <h1>Your Current Order</h1>
<%= render 'layouts/order_table', orders: @order %>
 <table class="table table-striped table-hover table-condensed table-bordered items-table">
    <thead>
      <tr>
        <th><strong>Code</strong></th>
        <th>Description</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Size</th>
        <th>Price</th>
        <th>Quantity</th>
        <th><strong>Total (inc VAT)</strong></th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
  <% @user_orderitems.each do |oi| %>
      <tr id="oi_row_<%= oi.id %>">
        <td><strong><%= oi.item.code %></strong></td>
        <td><%= oi.item.description %></td>
        <td><%= oi.item.category.name %></td>
        <td><%= oi.item.brand.name %></td>
        <td><%= oi.item.size %></td>
        <td><%= number_to_currency(oi.item.price_inc_vat, unit: '£') %></td>
        <td id="oi_i_q_<%= oi.id %>"><%= oi.quantity %></td>
        <td><strong id="oi_i_t_<%= oi.id %>"><%= number_to_currency((oi.item.price_inc_vat * oi.quantity), unit: '£') %></strong></td>
        <td><div class="btn-group"><%= render 'items/add_button', item: oi.item %><%= render 'orderitems/delete_button', orderitem: oi %><%= render 'items/fav_button', item: oi.item %></div></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h3 class="text-right text-info total_price">Total: <%= number_to_currency(total_price(@user_orderitems), unit: '£') %></h3>