<%= will_paginate %>

  <table class="table table-striped table-hover table-condensed table-bordered">
    <thead>
      <tr>
        <th><%= link_to "Code", sort: "code" %></th>
        <th><%= link_to "Description", sort: "description" %></th>
        <th><%= link_to "Brand", sort: "brands.name" %></th>
        <th><%= link_to "Price", sort: "price" %></th>
        <th><%= link_to "Size", sort: "size" %></th>
        <th><%= link_to "Category", sort: "categories.name" %></th>
      </tr>
    </thead>
    <tbody>
  <% @items.each do |x| %>
      <tr>
        <td class="table-code"><%= x.code %></td>
        <td><%= x.description %></td>
        <td><%= x.brand != nil ? x.brand.name : "no brand" %></td>
        <td><%= number_to_currency(x.price, unit: "£") %></td>
        <td><%= x.size %></td>
        <td><%= x.category.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate %>