<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Bond Street:SUMA", root_path, class: "brand" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to '<i class="icon-home"></i>'.html_safe, root_path %></li>
          <li><%= link_to "Items", items_path %></li>
          <li><%= link_to "Help", '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
        <%= form_tag items_path, method: :get, class: 'navbar-search pull-right'  do %>
          <%= text_field_tag :search, params[:search], class: 'search-query span4', placeholder: "Search items" %>
        <% end %>
      </nav>
    </div>
  </div>
</header>
