<ul id="user_header_order" class="dropdown-menu list-unstyled"> 
  <ul id="user_order_items" class="list-unstyled unstyled">
      <%current_user_orderitems.each do |oi| %>
      <li id="um_oi_<%= oi.id %>"><strong id="q_<%=oi.id%>"><%= oi.quantity %></strong> x <%= oi.item.description %></li>
      <% end %>
  </ul>
  <li><strong id="um_total">Total: 
  <%= number_to_currency(total_price(current_user_orderitems), unit: "£") %></strong></li>
</ul>