<% orders = [*orders] %>
<table class="table table-striped table-hover table-condensed table-bordered items-table">
  <thead>
    <tr>
    <% if defined? group %>
      <th>ID</th>
    <% end %>
      <th>Open Date</th>
      <th>Deadline</th>
      <th>Delivery Date</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
<% orders.each do |order| %>
    <tr>
    <% if defined? group %>
      <td><%= link_to "#{order.id}", group_order_path(group_id: group.id, id: order.id) %></td>
    <% end %> 
      <td><%= order.open %></td>
      <td><%= order.deadline %></td>
      <td><%= order.delivery %></td>
      <td><%= number_to_currency(total_price(order.orderitems), unit: '£') %></td>
    </tr>
  <% end %>
  </tbody>
</table>