<% orders = [*orders] %>
 <table class="table table-striped table-hover table-condensed table-bordered items-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Open Date</th>
        <th>Close Date</th>
        <th>Proposed Delivery Date</th>
        <th>Order Status</th>
        <th>Co-ordinator</th>
      </tr>
    </thead>
    <tbody>
  <% orders.each do |order| %>
      <tr>
        <td><%= link_to "#{order.id}", order_path(order.id) %></td>
        <td><%= order_date_format(order.orderopen) %></td>
        <td><%= order_date_format(order.deadline)  %></td>
        <td><%= order_date_format(order.delivery)  %></td>
        <td><%= order.active_order == true ? "Active" : "Inactive" %></td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>