<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= @current_user.name %> <b class="caret"></b>
  </a>

  <ul class="dropdown-menu">
    <li class="nav-header">My Stuff</li>
    <li class="dropdown-submenu">
      <%=link_to "My Order", user_orderitems_path(user_id: current_user) %>
      <%= render 'layouts/menu_order' %>
    </li>
    <li><%=link_to "Favorites", user_favorites_path(user_id: current_user.id) %></li>
    <% if admin? %>
    <li class="divider"></li>
    <li class="nav-header">Admin</li>
    <li><%=link_to "Users", users_path %></li>
    <li><%=link_to "Orders", orders_path %></li>
    <li><%=link_to "New Order", new_order_path %></li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
  </ul>
</li>